*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ----- Navigation bar ----- */
nav img{
    width: 50px;
    position: fixed;
    z-index: 10;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
}
.nav-links{
    flex: 1;
    text-align: right;
    z-index: 15;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #777;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff5ea2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa-bars{
    display: none;
}

/* ---------------------------- */
/* ----- Projects Section ----- */
/* ---------------------------- */

/* Project 1 */
.Projects{
    width: 100%;
    height: 100vh;
    overflow: hidden
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    overflow-x: hidden;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 3.125rem;
}
.col-1 h2{
    font-size: 3.375rem;
}
.col-1 h3{
    font-size: 1.875rem;
    color: #707070;
    font-weight: 100;
    margin: 1.25rem 0 0.625rem;
}
.col-1 p{
    font-size: 1rem;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 1.875rem 0;
    font-size: 1.25rem;
}
.proj-btn {
    width: 8.75rem;
    border: 0;
    padding: 0.75rem 0.625rem;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
.proj-btn i{
    font-size: 1rem;
    margin-left: -1.25rem;
    visibility: hidden;
}
.proj-btn:hover i{
    visibility: visible;
    margin-left: 1.25rem;
}
.proj-btn:hover{
    width: 10rem;
}
.col-1::after{
    content: '';
    width: 0.625rem;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -2.5rem;
    top: 0.5rem;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .car{
    width: 80%;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(9.375rem);
}
.try-btn{
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.try-btn i{
    font-size: 4rem;
}
.next-btn{
    text-align: center;
    letter-spacing: 0.25rem;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 3rem;
}
.next-btn i{
    font-size: 3rem;
    transition: 0.5s ease-in-out;
}
.next-btn:hover i{
    color: #ff575a;
    font-size: 3.5rem;
}

@media only screen and (max-width:700px){
    .nav-links ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 3.5rem;
        right: 0;
        z-index: 2;
    }
    .nav-links ul li{
        display: block;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }
    .nav-links ul li a{
        color: #fff;
    }
    nav .fa-bars{
        display: block;
    }
    #menuList{
        max-height: 0rem;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    .row{
        flex-direction: column-reverse;
        margin: 3.125rem 0; 
    }
    .col-1 h2{
        font-size: 2.375rem;
    }
    .col-1 h3{
        font-size: 1rem;
        color: #707070;
        font-weight: 100;
        margin: 1.25rem 0 0.625rem;
    }
    .col-1 p{
        font-size: 0.8rem;
        color: #b7b7b7;
        font-weight: 100;
    }
    .col-1 h4{
        margin: 1.0rem 0;
        font-size: 1.25rem;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 3.125rem;
    }
    .col-2 .car{
        width: 66%;
    }
    .col-2 .dev{
        width: 66%;
    }
    .color-box{
        transform: translateX(4.6875rem);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 2rem;
    }
    .next-btn {
        display: none;
    }
}
/* Project 2 */
.col1-rev{
    flex-basis: 40%;
    position: relative;
    margin-left: 3.125rem;
    transform: translateX(150%);
}
.col1-rev h2{
    font-size: 3.375rem;
}
.col1-rev h3{
    font-size: 1.875rem;
    color: #707070;
    font-weight: 100;
    margin: 1.25rem 0 0.625rem;
}
.col1-rev p{
    font-size: 1rem;
    color: #b7b7b7;
    font-weight: 100;
}
.col1-rev h4{
    margin: 1.875rem 0;
    font-size: 1.25rem;
}
.col1-rev::after{
    content: '';
    width: 0.625rem;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -2.5rem;
    top: 0.5rem;
}
.col2-rev{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    transform: translateX(-135%);
}
.col2-rev .delivery{
    width: 60%;
    transform: translateX(150%);
}
.col2-rev .color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(5.375rem);
}
.col2-rev .try-btn{
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 5%;
}
.nb2{
    position: absolute;
    bottom: -100%;
}
@media only screen and (max-width:700px){
    .col2-rev{
        transform: translateX(-50%);
        flex-basis: 100%;
        margin-bottom: 3.125rem;
    }
    .col2-rev .delivery{
        width: 66%;
    }
    .col2-rev .inventory{
        width: 66%;
    }
    .col2-rev .color-box{
        transform: translateX(4.6875rem);
    }
    .col1-rev{
        transform: translateX(0%);
        flex-basis: 100%;
    }
    .col1-rev h2{
        font-size: 2rem;
    }
    .col1-rev h3{
        font-size: 1rem;
        color: #707070;
        font-weight: 100;
        margin: 1.25rem 0 0.625rem;
    }
    .col1-rev p{
        font-size: 0.8rem;
        color: #b7b7b7;
        font-weight: 100;
    }
    .col1-rev h4{
        margin: 1.0rem 0;
        font-size: 1.25rem;
    }
}
/* Project 3 */
.nb3{
    position: absolute;
    bottom: -200%;
}
.col-2 .dev{
    width: 60%;
}
.try-dev{
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 10%;
}
/* Project 4 */
.nb4{
    position: absolute;
    bottom: -300%;
}
.col2-rev .inventory{
    width: 60%;
    transform: translateX(150%);
}

/* ----------------- */
/* ----- About ----- */
/* ----------------- */
.row-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 45%;
    width: 100%;
    margin-bottom: 3%;
}
.col-desc{
    flex-basis: 40%;
    position: relative;
    margin-left: 3.125rem;
}
.col-desc h2{
    font-size: 2.375rem;
}
.col-desc h3{
    font-size: 1.275rem;
    color: #707070;
    font-weight: 100;
    margin: 1.25rem 0 0.625rem;
}
.col-desc p{
    font-size: 1rem;
    color: #b7b7b7;
    font-weight: 100;
}
.col-desc h4{
    margin: 1.875rem 0;
    font-size: 1rem;
}
.col-desc::after{
    content: '';
    width: 0.625rem;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -2.5rem;
    top: 0.5rem;
}
.col-info{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-info .aero{
    width: 20%;
}
.col-info .arduino{
    width: 50%;
}
.col-info .color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#ff54a2, #ff575a);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(9.375rem);
}
.col-info img:hover + .color-box {
    z-index: 3;
    transform: translateX(0rem);
}
@media only screen and (max-width:700px){
    .col-info .aero{
        width: 40%;
        margin-left: 3rem;
    }
    .col-info .arduino{
        width: 70%;
    }
    .col-desc{
        flex-basis: 100%;
        margin-bottom: 3.125rem;
    }
    .col-desc h2{
        font-size: 1.875rem;
    }
    .col-desc h3{
        font-size: 1.0rem;
        color: #707070;
        font-weight: 100;
        margin: 1.25rem 0 0.625rem;
    }
    .col-info{
        flex-basis: 100%;
    }
    .col-info img:hover{
        display: none;
    }
}

/* ------------------- */                                                                                                                                                                                                                                                                           
/* ----- Contact ----- */
/* ------------------- */
/* ----- Footer Section ----- */
footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    position:relative;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}